/* Start coding here */   
 #main {
      width: 100%;
      height: 300px;
      border: 5px solid whitesmoke;
      display: flex;
      background-color: orange;

    }
    
    #main div {
      -ms-flex: 1;  /* IE 10 */  
      flex: 1;
    }

    #Header {
        width: 100%;
        height: 100px;
        border: 5px solid whitesmoke;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #Footer {
        width: 100%;
        height: 100px;
        border: 5px solid whitesmoke;
        background-color:yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }